.jobPosition{
  border-width: 0.5px;
  border-style: solid;
  border-color: black;
};

.successSubmit {
  background-color: #00ff48;
  border-width: 0.5px;
  border-style: solid;
  border-color: #00a02d;
}